<div class="d-flex align-items-center justify-content-center" style="height:600px;">
  <div class="text-center">
      <h2 class="home-text">ようこそ、ながのCAKEへ！<br></h2>
        <p>このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
      <%= image_tag('toppage.jpeg', size: '600x400') %>
    </div>
</div>
<div class="container new-item">
  <h2>新着商品</h2>
  <div class="row">
    <% @items.first(4).each do |item| %>
    <div class="col-md-3 col-sm-6">
      <div class="card w-100 bg-transparent border-0" style="width: 18rem;">
        <%= link_to item_path(item) do %>
          <%= image_tag(item.image, width: "100px", height: "100px") %>
        <% end %>
        <p><%= item.name %></p>
        <% if item.is_sales_status == true %>
          <p><%= item.without_tax_price %>円(税抜き)</p>
        <% else %>
          <p>販売停止中</p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to "全ての商品をみる", items_path %>
</div>