<h1>ショッピングカート</h1>
<table class="table table-bordered">
  <thead>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
  </thead>
  <tbody>
  <% @cart_items.each do |cart_item| %>
       <tr>
        <td><%= cart_item.item.name %></td>
        <td><%= (cart_item.item.price * 1.1).floor %></td>
        <td>
          <%= form_for cart_item, url: update_cart_item_path(cart_item), method: :patch do |f| %>
            <%= f.select :amount, options_for_select((1..10).map { |i| [i, i] }, selected: cart_item.amount) %>
            <%= f.submit "数量の変更を確定" %>
          <% end %>
        </td>
        <td><%= (cart_item.item.price * 1.1).floor * cart_item.amount %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3">合計金額</td>
      <td><%= @cart_items.sum { |cart_item| (cart_item.item.price * 1.1).floor * cart_item.amount } %></td>
    </tr>
  </tbody>
</table>
<%= link_to "買い物を続ける", items_path, class: 'btn btn-primary' %></br>
</br>
</br>
<%= link_to "注文情報入力に移動", orders_path, class: 'btn btn-primary' %>