<div class='container pt-5'>
  <div class='row'>
    <div class='col-lg'>
<h1>商品一覧(全<%= Item.count %>件)</h1></br>
<div class "container " >
  <div class="row m-2">  

    <% @items.each do |item| %>
    <div class="col-lg-3" > 
    <div class="">
     <div> <%= link_to image_tag(item.image, width: '200', height: '200'), item_path(item) %>  </div>
      <div><h5> <%= item.name %> </h5></div>
      <div> <h6>￥<%= item.without_tax_price %></h6> </div>
    </div>
    </div>
    <% end %>
  </div>  
</div>  
</div>
    </div>
    </div>
<%= paginate @items %>