<h1>商品一覧(全<%= Item.count %>件)</h1>
<div class "container " >
  <div class="row m-2">  

    <% @items.each do |item| %>
    <div class="col-lg-3" > 
    <div class="">
     <div> <%= link_to image_tag(item.image, width: '200', height: '200'), item_path(item) %>  </div>
      <div> <%= item.name %> </div>
      <div> ￥<%= item.without_tax_price %> </div>
    </div>
    </div>
    <% end %>
  </div>  
</div>    
<%= paginate @items %>